html, body, .main, .swiper-container, .back, .swiper-slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main {
    position: relative;
    margin: 0 auto;
}

html {
    font-size: 100px;
}

/*page1*/
.swiper-slide {
    position: relative;
    font-family: "Microsoft Yahei", "微软雅黑";
    background: url("../images/background-1.jpg") no-repeat;
    background-size: cover;
}

.back {
    background: url("../images/background-2.png") no-repeat;
    background-size: cover;
}
.page1 img {
    position: absolute;
    opacity: 0;
}

.page1 img:nth-child(1) {
    top: 1.65rem;
    left: 0rem;
    width: 1.15rem;
    height: 2.3rem;
}

.page1 img:nth-child(2) {
    top: 2.4rem;
    left: .58rem;
    width: .32rem;
    height: .32rem;
}

.page1 img:nth-child(3) {
    top: 2.7rem;
    left: .95rem;
    width: .32rem;
    height: .32rem;
}

.page1 img:nth-child(4) {
    top: 1.60rem;
    left: .70rem;
    width: 1.08rem;
    height: 2.08rem;
}

.page1 img:nth-child(5) {
    top: 2.57rem;
    left: 1.57rem;
    width: .32rem;
    height: .32rem;
}

.page1 img:nth-child(6) {
    top: 2rem;
    left: 1.3rem;
    width: 1.1rem;
    height: 2.2rem;
}

.page1 img:nth-child(7) {
    top: 3.01rem;
    left: 2.16rem;
    width: .32rem;
    height: .32rem;
}

.page1 img:nth-child(8) {
    top: 1.80rem;
    left: 2.05rem;
    width: 1.15rem;
    height: 2.1rem;
}

#page1 img:nth-child(4), #page1 img:nth-child(8) {
    -webkit-animation: bounceInDown 1s linear 0s 1 both;
    animation: bounceInDown 1s linear 0s 1 both;
}

#page1 img:nth-child(1), #page1 img:nth-child(6) {
    -webkit-animation: bounceInUp 1s linear 0s 1 both;
    animation: bounceInUp 1s linear 0s 1 both;
}

#page1 img:nth-child(2) {
    -webkit-animation: zoomIn 1s linear .3s 1 both;
    animation: zoomIn 1s linear .3s 1 both;
}

#page1 img:nth-child(3) {
    -webkit-animation: zoomIn 1s linear .6s 1 both;
    animation: zoomIn 1s linear .6s 1 both;
}

#page1 img:nth-child(5) {
    -webkit-animation: zoomIn 1s linear .9s 1 both;
    animation: zoomIn 1s linear .9s 1 both;
}

#page1 img:nth-child(7) {
    -webkit-animation: zoomIn 1s linear 1.2s 1 both;
    animation: zoomIn 1s linear 1.2s 1 both;
}

/*page2*/
.page2 img {
    position: absolute;
    opacity: 0;
}

.page2 img:nth-child(1) {
    top: 1.3rem;
    left: 0.26rem;
    width: 2.29rem;
    height: 1rem;
}

.page2 img:nth-child(3) {
    top: 3.5rem;
    right: 0.26rem;
    width: 2.29rem;
    height: 1rem;
}

.page2 .back div {
    position: absolute;
    top: 1.87rem;
    left: .80rem;
    font-family: "Microsoft Yahei", "微软雅黑";
    color: #676767;
}

.page2 .back div h2 {
    opacity: 0;
    font-size: .25rem;
    font-weight: normal;
    line-height: .25rem;
    margin-bottom: .15rem;
}

.page2 .back div p {
    opacity: 0;
    font-size: .16rem;
    font-weight: bold;
    line-height: .34rem;
}

#page2 img:nth-child(3) {
    -webkit-animation: bounceInRight 1s linear 0s 1 both;
    animation: bounceInRight 1s linear 0s 1 both;
}

#page2 img:nth-child(1) {
    -webkit-animation: bounceInLeft 1s linear 0s 1 both;
    animation: bounceInLeft 1s linear 0s 1 both;
}

#page2 .back div h2 {
    -webkit-animation: zoomIn 1s linear .4s 1 both;
    animation: zoomIn 1s linear .4s 1 both;
}

#page2 .back div .p1 {
    -webkit-animation: bounceInLeft 1s linear .5s 1 both;
    animation: bounceInLeft 1s linear .5s 1 both;
}

#page2 .back div .p2 {
    -webkit-animation: bounceInLeft 1s linear .6s 1 both;
    animation: bounceInLeft 1s linear .6s 1 both;
}

#page2 .back div .p3 {
    -webkit-animation: bounceInLeft 1s linear .7s 1 both;
    animation: bounceInLeft 1s linear .7s 1 both;
}

#page2 .back div .p4 {
    -webkit-animation: bounceInLeft 1s linear .8s 1 both;
    animation: bounceInLeft 1s linear .8s 1 both;
}

#page2 .back div .p5 {
    -webkit-animation: bounceInLeft 1s linear .9s 1 both;
    animation: bounceInLeft 1s linear .9s 1 both;
}

/*page3*/
.page3 .back h2 {
    position: absolute;
    opacity: 0;
    top: 1.1rem;
    left: .95rem;
    font-size: .25rem;
    font-weight: normal;
    color: #676767;
    line-height: .25rem;
}

.page3 .back img {
    position: absolute;
    opacity: 0;
}

.page3 .back img:nth-of-type(1) {
    top: 1rem;
    left: .95rem;
    width: 1.61rem;
    height: .91rem;
}

.page3 .back ul {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    margin-left: -.08rem;
}

.page3 .back ul li {
    display: block;
    width: .16rem;
    height: .16rem;
    border-radius: 50%;
    background: #000000;
    margin-top: .40rem;
    opacity: 0;
}

.page3 .back span {
    position: absolute;
    opacity: 0;
    bottom: 1rem;
    left: 50%;
    margin-left: -.005rem;
    display: inline-block;
    width: .01rem;
    height: 0.62rem;
    background: #000000;
}
.page3 .back .span1{
    bottom: 1.62rem;
}
.page3 .back .span2{
    bottom: 2.2rem;
}
.page3 .back img:nth-of-type(2) {
    bottom: 2.47rem;
    right: .20rem;
    width: 1.19rem;
    height: .56rem;
}

.page3 .back img:nth-of-type(3) {
    bottom: 1.37rem;
    right: .20rem;
    width: 1.19rem;
    height: .56rem;
}

.page3 .back img:nth-of-type(4) {
    bottom: 1.93rem;
    left: .20rem;
    width: 1.19rem;
    height: .56rem;
}

.page3 .back img:nth-of-type(5) {
    bottom: .80rem;
    left: .20rem;
    width: 1.19rem;
    height: .56rem;
}

.page3 .back p {
    position: absolute;
    opacity: 0;
    font-size: .14rem;
    color: white;
    line-height: .16rem;
}

.page3 .back .p1 {
    bottom: 2.67rem;
    right: .3rem;
}

.page3 .back .p2 {
    bottom: 1.57rem;
    right: .3rem;
}

.page3 .back .p3 {
    bottom: 2.13rem;
    left: .3rem;
}

.page3 .back .p4 {
    bottom: 1rem;
    left: .3rem;
}

#page3 .back h2 {
    -webkit-animation: zoomIn 1s linear 0.1s 1 both;
    animation: zoomIn 1s linear 0.1s 1 both;
}

#page3 .back img:nth-of-type(1) {
    -webkit-animation: bounceInRight 1s linear 0s 1 both;
    animation: bounceInRight 1s linear 0s 1 both;
}

#page3 .back img:nth-of-type(2),#page3 .back img:nth-of-type(3) {
    -webkit-animation: bounceInRight 1s linear 1.6s 1 both;
    animation: bounceInRight 1s linear 1.6s 1 both;
}

#page3 .back img:nth-of-type(4), #page3 .back img:nth-of-type(5) {
    -webkit-animation: bounceInLeft 1s linear 1.6s  1 both;
    animation: bounceInLeft 1s linear 1.6s  1 both;
}

#page3 .back ul .li1 {
    -webkit-animation: zoomInDown .4s linear 0s 1 both;
    animation: zoomInDown .4s linear 0s 1 both;
}
#page3 .back ul .li2 {
    -webkit-animation: zoomIn .4s linear .8s 1 both;
    animation: zoomIn .4s linear .8s 1 both;
}
#page3 .back ul .li3 {
    -webkit-animation: zoomIn .4s linear 1.2s 1 both;
    animation: zoomIn .4s linear 1.2s 1 both;
}
#page3 .back ul .li4 {
    -webkit-animation: zoomIn .4s linear 1.6s 1 both;
    animation: zoomIn .4s linear 1.6s 1 both;
}
#page3 .back span {
    -webkit-animation: zoomIn .4s ease-in 1.4s 1 both;
    animation: zoomIn .4s ease-in 1.4s 1 both;
}
#page3 .back .span1 {
    -webkit-animation: zoomIn .4s ease-in 1s 1 both;
    animation: zoomIn .4s ease-in 1s 1 both;
}
#page3 .back .span2 {
    -webkit-animation: zoomIn .4s ease-in 0.4s 1 both;
    animation: zoomIn .4s ease-in 0.4s 1 both;
}

#page3 .back .p1,#page3 .back .p2,#page3 .back .p3,#page3 .back .p4{
    -webkit-animation: zoomIn 1s linear 1.8s 1 both;
    animation: zoomIn 1s linear 1.8s 1 both;
}
/*page4*/

.page4 .back h2{
    position: absolute;
    top :1.05rem;
    left: .77rem;
    font-size: .25rem;
    font-weight: normal;
    color: #676767;
    line-height: .25rem;

}
.page4 .back img{
    position: absolute;
    top: .98rem;
    left: .9rem;
    width: 1.1rem;
    height: .7rem;
}
.page4 .back div{
    position: absolute;
    padding: .05rem;
    width: 2.1rem;
    height: .65rem;
    background:rgba(97,97,97,0.8) ;
    color: #ffffff;
    font-size: .16rem;
    text-align: center;
    line-height: .3rem;
}
.page4 .back .background1{
    top: 2.35rem;
    left: .30rem;
}
.page4 .back .background2{
    top: 3.60rem;
    right:.30rem;
}
.page4 .back h2,.page4 .back div,.page4 .back img{
    opacity: 0;
}
#page4 .back h2{
    -webkit-animation: zoomIn 1s linear 0s 1 both;
    animation: zoomIn 1s linear 0s 1 both;
}
#page4 .back img{
    -webkit-animation: bounceInRight 1s linear 0s 1 both;
    animation: bounceInRight 1s linear 0s 1 both;
}
#page4 .back .background1{
     -webkit-animation: rotateIn 1s ease-out 0s 1 both;
     animation: rotateIn 1s ease-out 0s 1 both;
 }
#page4 .back .background2{
    -webkit-animation: rotateIn 1s ease-out .6s 1 both;
    animation: rotateIn 1s ease-out 0.6s 1 both;
}

.page5 .back h2{
    position: absolute;
    top :.7rem;
    left: .77rem;
    font-size: .25rem;
    font-weight: normal;
    color: #676767;
    line-height: .25rem;
}
.page5 .back img.page5-1{
    position: absolute;
    top: 1rem;
    left: .65rem;
    width: 1.91rem;
    height:.26rem;
}
.page5 .back img.page5-2{
    position: absolute;
    top: .4rem;
    right: .56rem;
    width: .93rem;
    height:1.27rem;
}
.page5 .back .skill .skillPS{
    position: absolute;
    bottom: 2.9rem;
    left: 0;
    width: 100%;
    height: .45rem;
}
.page5 .back .skill .skillCDR{
    position: absolute;
    bottom: 2.5rem;
    left: 0;
    width: 100%;
    height: .45rem;
}
.page5 .back .skill .skillAI{
    position: absolute;
    bottom: 2.1rem;
    left: 0;
    width: 100%;
    height: .45rem;
}
.page5 .back .skill .skillID{
    position: absolute;
    bottom: 1.7rem;
    left: 0;
    width: 100%;
    height: .45rem;
}
.page5 .back .skill .skillOffice{
    position: absolute;
    bottom: 1.3rem;
    left: 0;
    width: 100%;
    height: .45rem;
}
.page5 .back .skill .skillPS p,.page5 .back .skill .skillCDR p,.page5 .back .skill .skillAI p,.page5 .back .skill .skillID p,.page5 .back .skill .skillOffice p{
    margin-right: 2.05rem;
    font-size: .24rem;
    line-height: .45rem;
    color: #4A4949;
    background: url("../images/page5-3.png") no-repeat right;
}
.page5 .back .skill .skillPS p{
     padding: 0 .3rem 0 .55rem;
}

.page5 .back .skill .skillCDR p{
    padding: 0 .3rem 0 .35rem;
}

.page5 .back .skill .skillAI p{
    padding: 0 .3rem 0 .58rem;
}

.page5 .back .skill .skillID p{
    padding: 0 .3rem 0 .59rem;
}

.page5 .back .skill .skillOffice p{
    padding: 0 .3rem 0 .2rem;
}

.page5 .back .skill .skillPS ul,.page5 .back .skill .skillCDR ul,.page5 .back .skill .skillAI ul,.page5 .back .skill .skillID ul,.page5 .back .skill .skillOffice ul{
    position: absolute;
    top: 0;
    left: 1rem;
    height: .45rem;
}

.page5 .back .skill .skillPS ul li,.page5 .back .skill .skillCDR ul li,.page5 .back .skill .skillAI ul li,.page5 .back .skill .skillID ul li,.page5 .back .skill .skillOffice ul li{
    display: inline-block;
    margin: .11rem .05rem 0 0;
    width: .23rem;
    height: .23rem;
    border-radius: 50%;
    background: rgba(0,0,0,.9);
}

.page5 .back .skill li,.page5 .back .skill p,.page5 .back h2,.page5 .back img{
    opacity: 0;
}


#page5 .back h2{
    -webkit-animation:zoomIn 1s linear 0s 1 both ;
    animation:zoomIn 1s linear 0s 1 both ;
}

#page5 .back img.page5-1{
    -webkit-animation:fadeInUp 1s linear 0.3s 1 both ;
    animation:fadeInUp 1s linear 0.3s 1 both ;
}

#page5 .back img.page5-2{
    -webkit-animation:bounceInRight .5s linear 0s 1 both ;
    animation:bounceInRight .5s linear 0s 1 both ;
}

#page5 .back .skill .skillPS p,#page5 .back .skill .skillCDR p,#page5 .back .skill .skillAI p,#page5 .back .skill .skillID p,#page5 .back .skill .skillOffice p{
    -webkit-animation: zoomInLeft .5s ease-out 0s 1 both ;
    animation: zoomInLeft .5s ease-out 0s 1 both ;
}

#page5 .back .skill .skillPS ul li:nth-child(1),#page5 .back .skill .skillCDR ul li:nth-child(1),#page5 .back .skill .skillAI ul li:nth-child(1),#page5 .back .skill .skillID ul li:nth-child(1),#page5 .back .skill .skillOffice ul li:nth-child(1){
    -webkit-animation: zoomIn .5s ease-out .5s 1 both ;
    animation: zoomIn .5s ease-out .5s 1 both ;
}

#page5 .back .skill .skillPS ul li:nth-child(2),#page5 .back .skill .skillCDR ul li:nth-child(2),#page5 .back .skill .skillAI ul li:nth-child(2),#page5 .back .skill .skillID ul li:nth-child(2),#page5 .back .skill .skillOffice ul li:nth-child(2){
    -webkit-animation: zoomIn .5s ease-out .8s 1 both ;
    animation: zoomIn .5s ease-out .8s 1 both ;
}

#page5 .back .skill .skillPS ul li:nth-child(3),#page5 .back .skill .skillCDR ul li:nth-child(3),#page5 .back .skill .skillAI ul li:nth-child(3),#page5 .back .skill .skillID ul li:nth-child(3),#page5 .back .skill .skillOffice ul li:nth-child(3){
    -webkit-animation: zoomIn .5s ease-out 1.1s 1 both ;
    animation: zoomIn .5s ease-out 1.1s 1 both ;
}

#page5 .back .skill .skillPS ul li:nth-child(4),#page5 .back .skill .skillCDR ul li:nth-child(4),#page5 .back .skill .skillAI ul li:nth-child(4),#page5 .back .skill .skillID ul li:nth-child(4),#page5 .back .skill .skillOffice ul li:nth-child(4){
    -webkit-animation: zoomIn .5s ease-out 1.4s 1 both ;
    animation: zoomIn .5s ease-out 1.4s 1 both ;
}

#page5 .back .skill .skillPS ul li:nth-child(5),#page5 .back .skill .skillCDR ul li:nth-child(5),#page5 .back .skill .skillAI ul li:nth-child(5),#page5 .back .skill .skillID ul li:nth-child(5),#page5 .back .skill .skillOffice ul li:nth-child(5){
    -webkit-animation: zoomIn .5s ease-out 1.7s 1 both ;
    animation: zoomIn .5s ease-out 1.7s 1 both ;
}

#page5 .back .skill .skillPS ul li:nth-child(6),#page5 .back .skill .skillCDR ul li:nth-child(6),#page5 .back .skill .skillAI ul li:nth-child(6),#page5 .back .skill .skillID ul li:nth-child(6),#page5 .back .skill .skillOffice ul li:nth-child(6){
    -webkit-animation: zoomIn .5s ease-out 2s 1 both ;
    animation: zoomIn .5s ease-out 2s 1 both ;
}

/*page6*/
.page6 .back h2{
    position: absolute;
    top :.8rem;
    left: .8rem;
    font-size: .25rem;
    font-weight: normal;
    color: #676767;
    line-height: .25rem;
}
.page6 .back img.page7-1{
    position: absolute;
    top :.55rem;
    left: .45rem;
    width: 1.27rem;
    height: .39rem;
}
.page6 .back img.page7-2{
    position: absolute;
    top :1.15rem;
    left: 1.25rem;
    width: 1.27rem;
    height: .17rem;
}

.page6 .back span:nth-of-type(1),.page6 .back span:nth-of-type(2),.page6 .back span:nth-of-type(3),.page6 .back span:nth-of-type(4),.page6 .back span:nth-of-type(5){
    position: absolute;
    background: url("../images/page7-3.png") no-repeat center;
    background-size:100% 100%;
}
.page6 .back p:nth-of-type(1),.page6 .back p:nth-of-type(2),.page6 .back p:nth-of-type(3),.page6 .back p:nth-of-type(4),.page6 .back p:nth-of-type(5){
    position: absolute;
    color: white;
    text-align: center;
    z-index: 1;
}
.page6 .back span:nth-of-type(1),.page6 .back p:nth-of-type(1){
    bottom: 1.84rem;
    left: 1.10rem;
    width: .6rem;
    height: .6rem;
    font-size: .14rem;
    line-height: .6rem;
}
.page6 .back span:nth-of-type(2),.page6 .back p:nth-of-type(2){
    top: 2.23rem;
    right: .46rem;
    width: 1rem;
    height: 1rem;
    font-size: .2rem;
    line-height: 1rem;
}
.page6 .back span:nth-of-type(3),.page6 .back p:nth-of-type(3){
    bottom: 2.70rem;
    left: .40rem;
    width: 1rem;
    height: 1rem;
    font-size: .2rem;
    line-height: 1rem;
}
.page6 .back span:nth-of-type(4),.page6 .back p:nth-of-type(4){
    bottom: 1rem;
    right: .19rem;
    width: 1.2rem;
    height: 1.2rem;
    font-size: .18rem;
    line-height: 1.2rem;
}
.page6 .back span:nth-of-type(5),.page6 .back p:nth-of-type(5){
    bottom: .34rem;
    left: .14rem;
    width: 1.4rem;
    height: 1.4rem;
    font-size: .2rem;
    line-height: 1.4rem;
}

.page6 .back h2,.page6 .back img,.page6 .back span{
    opacity: 0;
}

#page6 .back h2{
    -webkit-animation:zoomIn 1s linear 0s 1 both ;
    animation:zoomIn 1s linear 0s 1 both ;
}
#page6 .back span:nth-of-type(1){
    -webkit-animation:zoomIn .8s linear 0s infinite both ;
    animation:zoomIn .8s linear 0s infinite both ;
}
#page6 .back span:nth-of-type(2){
    -webkit-animation:zoomIn .8s linear .3s infinite both ;
    animation:zoomIn .8s linear .3s infinite both ;
}
#page6 .back span:nth-of-type(3){
    -webkit-animation:zoomIn .8s linear .6s infinite both ;
    animation:zoomIn .8s linear .6s infinite both ;
}
#page6 .back span:nth-of-type(4){
    -webkit-animation:zoomIn .8s linear .9s infinite both ;
    animation:zoomIn .8s linear .9s infinite both ;
}
#page6 .back span:nth-of-type(5){
    -webkit-animation:zoomIn .8s linear 1.2s infinite both ;
    animation:zoomIn .8s linear 1.2s infinite both ;
}

#page6 .back img.page7-1{
    -webkit-animation:bounceInLeft .5s linear 0s 1 both ;
    animation:bounceInLeft .5s linear 0s 1 both ;
}
#page6 .back img.page7-2{
    -webkit-animation:bounceInRight .5s linear 0s 1 both ;
    animation:bounceInRight .5s linear 0s 1 both ;
}
.page7 .back h2,.page7 .back img{
    position: absolute;
    /*opacity: 0;*/
    filter:alpha(opacity=0);
}
.page7 .back h2{
    top :.8rem;
    left: .8rem;
    font-size: .25rem;
    font-weight: normal;
    color: #676767;
    line-height: .25rem;
}
.page7 .back img:nth-of-type(1){
    top :.55rem;
    left: .45rem;
    width: 1.27rem;
    height: .39rem;
}
.page7 .back img:nth-of-type(2){
    top :1.15rem;
    left: 1.25rem;
    width: 1.27rem;
    height: .17rem;
}
.page7 .back img:nth-of-type(3){
    top: 1.9rem;
    left: 50%;
    margin-left: -.58rem;
    width: 1.16rem;
    height:1.16rem;
}
.page7 .back p{
    position: absolute;
    width: 100%;
    padding:0 25% ;
    line-height: .22rem;
    font-size: .14rem;
    font-weight: bold;
    color: #676767;
    text-align: left;
}
.page7 .back p:nth-of-type(1){
    bottom: 2.35rem;
    left: 0;
}
.page7 .back p:nth-of-type(2){
    bottom: 2.13rem;
    left: 0;
}
.page7 .back p:nth-of-type(3){
    bottom: 1.91rem;
    left: 0;
}

.page7 .back h2,.page7 .back img,.page7 .back p{
    position: absolute;
    opacity: 0;
    filter:alpha(opacity=0)
}
#page7 .back h2,#page7 .back img:nth-of-type(3){
    -webkit-animation:zoomIn 1s linear 0s 1 both ;
    animation:zoomIn 1s linear 0s 1 both ;
}
#page7 .back img:nth-of-type(1){
    -webkit-animation:bounceInLeft .5s linear 0s 1 both ;
    animation:bounceInLeft .5s linear 0s 1 both ;
}
#page7 .back img:nth-of-type(2){
    -webkit-animation:bounceInRight .5s linear 0s 1 both ;
    animation:bounceInRight .5s linear 0s 1 both ;
}
#page7 .back p:nth-of-type(1){
    -webkit-animation:fadeInUp 1s linear 1s 1 both ;
    animation:fadeInUp 1s linear 1s 1 both ;
}
#page7 .back p:nth-of-type(2){
    -webkit-animation:fadeInUp 1s linear 1.3s 1 both ;
    animation:fadeInUp 1s linear 1.3s  1 both ;
}
#page7 .back p:nth-of-type(3){
    -webkit-animation:fadeInUp 1s linear 1.6s 1 both ;
    animation:fadeInUp 1s linear 1.6s  1 both ;
}

@media all and (min-width: 321px) {
    .page3 .back h2 {
        position: absolute;
        opacity: 0;
        top: 1.6rem;
        left: .95rem;
        font-size: .25rem;
        font-weight: normal;
        color: #676767;
        line-height: .25rem;
    }
    .page3 .back img:nth-of-type(1) {
        top: 1.42rem;
        left: .95rem;
        width: 1.61rem;
        height: .91rem;
    }
    .page5 .back h2{
        position: absolute;
        top :1.7rem;
        left: .77rem;
        font-size: .25rem;
        font-weight: normal;
        color: #676767;
        line-height: .25rem;
    }
    .page5 .back img.page5-1{
        position: absolute;
        top: 2.02rem;
        left: .65rem;
        width: 1.91rem;
        height:.26rem;
    }
    .page5 .back img.page5-2{
        position: absolute;
        top: 1.3rem;
        right: .56rem;
        width: .93rem;
        height:1.27rem;
    }

    .page7 .back img:nth-of-type(3){
        top: 2.9rem;
        left: 50%;
        margin-left: -.58rem;
        width: 1.16rem;
        height:1.16rem;
    }
    .page7 .back p{
        position: absolute;
        width: 100%;
        padding:0 25% ;
        line-height: .22rem;
        font-size: .14rem;
        font-weight: bold;
        color: #676767;
        text-align: left;
    }
    .page7 .back p:nth-of-type(1){
        bottom: 3rem;
        left: 0;
    }
    .page7 .back p:nth-of-type(2){
        bottom: 2.8rem;
        left: 0;
    }
    .page7 .back p:nth-of-type(3){
        bottom: 2.6rem;
        left: 0;
    }
}

@-webkit-keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
@keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
@keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
@keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
@keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}
@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes zoomInDown {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    to {
        opacity: 1;
    }
}
@keyframes zoomInDown {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes zoomInLeft {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    to{
        opacity: 1;
    }
}
@keyframes zoomInLeft {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
    to{
        opacity: 1;
    }
}
/*music*/
.music {
    display: none;
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    width: .3rem;
    height: .3rem;
    z-index: 10;
    background: url("../images/music.svg") no-repeat;
    background-size: 100% 100%;

}
.music audio{
    display: none;
}
.music.on{
    -webkit-animation: MusicMove 1s linear 0s infinite both;
    animation: MusicMove 1s linear 0s infinite both;
}

@-webkit-keyframes MusicMove {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes MusicMove {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*arrow*/
.arrow {
    position: absolute;
    bottom: .40rem;
    left: 50%;
    margin-left: -.105rem;
    width: .21rem;
    height: .18rem;
    background: url("../images/web-swipe-tip.png") no-repeat;
    background-size: 100% 100%;
    z-index: 2;
    -webkit-animation: move .5s ease-in-out 0s infinite both;
    animation: move .5s ease-in-out 0s infinite both;

}

@-webkit-keyframes move {
    0% {
        transform: translateY(0);

    }
    50% {
        transform: translateY(0.15rem)
    }
    100% {
        transform: translateY(0.15rem)
    }
}
@keyframes move {
    0% {
        transform: translateY(0);

    }
    50% {
        transform: translateY(0.15rem)
    }
    100% {
        transform: translateY(0.15rem)
    }
}

@-webkit-keyframes slideInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slideInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes flip {
    from {
        opacity: 0;
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    40% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    50% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    80% {
        -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
        transform: perspective(400px) scale3d(.95, .95, .95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    to {
        opacity: 1;
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}
@keyframes flip {
    from {
        opacity: 0;
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    40% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    50% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    80% {
        -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
        transform: perspective(400px) scale3d(.95, .95, .95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    to {
        opacity: 1;
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes rotateIn {
    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
@keyframes rotateIn {
    from {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotate3d(0, 0, 1, -200deg);
        transform: rotate3d(0, 0, 1, -200deg);
        opacity: 0;
    }

    to {
        -webkit-transform-origin: center;
        transform-origin: center;
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

